*{
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.main-box{
  border: 2px solid black;
  padding: 1.5rem;
  border-radius: 0.4rem;
}

.main-box * {
  font-size: 1.3rem;
}

.heading{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.main-box button {
  padding: 0.1rem 0.3rem;
  border-radius: 0.5rem;
}

.input-form{
  margin-bottom: 1.4rem;
}

.list-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem auto;
  background-color: azure;
  /* border: 1px solid black; */
  padding: 2px;
}
.item-btns{
  /* display: inline-block; */
}
.item-btns button{
  margin: 0 0.4rem;
}

.alert{
  background-color: bisque;
}

.clear-list-btn{
  width: 100%;
  text-align: center;
  margin-top: 1.4rem;
}
form input{
  margin-right: 0.5rem;
  padding: 0.1rem;
}